<section class="section pb-0" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2 class="title title-line text-uppercase mb-4 pb-4">Contact Me</h2>
          <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of the
            development cycle for dynamic web projects.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Phone</h5>
            <a href="tel:+91 8600837405" class="text-primary">+91 8600837405</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <span><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Email</h5>
            <a href="mailto:shriramsalunkhe2013@gmail.com" class="text-primary">shriramsalunkhe2013@gmail.com</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4 pt-2">
        <div class="contact-detail text-center">
          <div class="icon">
            <span><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
          </div>
          <div class="content mt-4">
            <h5 class="title text-uppercase">Location</h5>
            <p class="text-muted">Lokmanya Colony,Wakad Road, <br>Thergaon, Pune 41033</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
