<section class="bg-home d-table w-100 personal_bg" id="home">
    <div class="bg-overlay"></div>
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-12"> 
                <div class="title-heading mt-5">
                    <h6 class="sub-title text-light">Are you looking for Front End Developer!</h6>
                    <h1 class="heading text-primary mb-3">I'm Shriram Salunkhe</h1>
                    <p class="para-desc text-white-50"> Web Developer with over 3 years of experience.</p>
                    <div class="mt-4 pt-2">
                        <a  routerLink="/professional" class="btn btn-primary rounded mb-2 mr-2">View Professional Details</a>
                        <a href="../../../assets/images/resume.pdf" class="btn btn-outline-primary rounded mb-2">Download CV <i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#about" data-scroll-nav="1" class="mouse-icon bg-transparent">
        <span class="position-relative d-block"><i class="fa fa-chevron-down fa-lg"></i></span>
    </a>
</section>
<section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About Me</h2>
        <p>I'm Software Developer by profession and traveller by passion.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/images/about_me.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Front End Developer</h3>
          <p class="font-italic">
            Web Developer with over 3 years of experience. Experienced with all stages of the development cycle for dynamic web projects. 
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li> <strong>Birthday:</strong> 27 July 1995</li>
                <li> <strong>Website:</strong> shriram0436.github.io/Resume</li>
                <li> <strong>Phone:</strong> +91 8600837405</li>
                <li> <strong>City:</strong> Pune,India(411033)</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li> <strong>Age:</strong> 25</li>
                <li> <strong>Degree:</strong> Bachelor of Computer Science and Engineering</li>
                <li> <strong>Email:</strong> shriramsalunkhe2013@gmail.com</li>
              </ul>
            </div>
          </div>
          <p>
           Apart from professional work,I love watching documentaries with cup of coffee.
          </p>
        </div>
      </div>
    </div>
  </section>
<app-testimonials></app-testimonials>
<app-contact></app-contact>