<section class="bg-home d-table w-100 personal_bg" id="home">
    <div class="bg-overlay"></div>
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-12"> 
                <div class="title-heading mt-5">
                    <h6 class="sub-title text-light">Are you looking for Front End Developer!</h6>
                    <h1 class="heading text-primary mb-3">I'm Shriram Salunkhe</h1>
                    <p class="para-desc text-white-50"> Web Developer with over 3 years of experience.</p>
                    <div class="mt-4 pt-2">
                        <a  routerLink="/" class="btn btn-primary rounded mb-2 mr-2">View Basic Details</a>
                        <a href="../../../assets/images/resume.pdf" class="btn btn-outline-primary rounded mb-2">Download CV <i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/professional#exp" data-scroll-nav="1" class="mouse-icon bg-transparent">
        <span class="position-relative d-block"><i class="fa fa-chevron-down fa-lg"></i></span>
    </a>
</section>
<section class="bg-light pb-3" id="exp">
  <div class="container">
    <div class="section-title">
      <h2>My Work Experience</h2>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Web Developer</h3>
        <div class="subheading mb-3">Leometric Technology</div>
        <p style="font-weight: bold;">Key Responsibilities :</p>
        <p>1)Designing and Developing application Front End by regularly communicating with management and technical
          staff.<br>
          2)Development of technical specifications and plans.<br>
          3)Communicate effectively and professionally in all forms of communication with internal and external
          customers.<br>
          4)Handling Server deployments for the front end development team.<br>
        </p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">September 2018 - Present</span></div>
    </div>
    <!-- 2nd -->
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0"> Jr.Software Developer</h3>
        <div class="subheading mb-3">Implant Technosoft Solutions</div>
        <p style="font-weight: bold;">Key Responsibilities :</p>
        <p>1)Designing and Developing application Front End,BackEnd by communicating with clients.<br>
          2)Unit testing and Server deployments.<br>
          3)Designing wireframes,work flows by communicating with clients.<br>
        </p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">July 2017 - July 2018</span></div>
    </div>
  </div>
</section>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>

