<section class="bg-light pb-5" id="projects">
    <div class="container">
      <div class="section-title">
        <h2>projects</h2>
      </div>
      <div class="row">
          <!-- card -->
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card rounded shadow" style="width: 23rem;">
              <img class="card-img-top" src="../../../assets/images/ow.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title font-italic">HDFC Ourworld</h5>
                <p class="card-text">The HDFC ourworld application was aimed at developing a system which will be used by HDFC Bank Employees,HR Teams to conduct various surveys to analyse their customer reach and share their experiences.
                    Also they can listen to the radio while working in office hours.</p>
                <a href="http://owhome.hdfcbank.com/" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
        </div>
        <!-- /card -->
         <!-- card -->
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card rounded shadow" style="width: 23rem;">
              <img class="card-img-top" src="../../../assets/images/inno.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title font-italic">Innowayt</h5>
                <p class="card-text">Innowayt is a tour booking application developed for Travel industry professionals like Travel Agents,Tour Operators and Destination management companies(DMC’S).
                    Innowayt also helps travel experts to create New tours,Quotations and booking them.</p>
                <a href="https://innowayt.com/" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
        </div>
        <!-- /card -->
         <!-- card -->
         <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="card rounded shadow" style="width: 23rem;">
              <img class="card-img-top" src="../../../assets/images/Q.PNG" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title font-italic">NoQ Token System</h5>
                <p class="card-text">Project was aimed at building applications which will be used by shop owners and users to book the specific services offered by the shop owner.

                    many shop owners were facing problems while handling queues and taking payments from customers.</p>
                <a href="http://q2noq.com/" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
        </div>
        <!-- /card -->
      </div>
    </div>
  </section>
  