<section class="bg-light pb-3" id="testimonials">
  <div class="container">
    <div class="section-title">
      <h2>What my friends say about me</h2>
    </div>
    <div class="row">
        <!-- card -->
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="card rounded shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/images/1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title font-italic">Suyash Shitole</h5>
              <p class="card-text">Shriram is a Quick learner,i've been with him since childhood!</p>
            </div>
          </div>
      </div>
      <!-- /card -->
       <!-- card -->
       <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="card rounded shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/images/2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title font-italic">Amit Vathare</h5>
              <p class="card-text">I've worked with Shriram on various projects.He is good team member.</p>
            </div>
          </div>
      </div>
      <!-- /card -->
       <!-- card -->
       <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="card rounded shadow" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/images/3.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title font-italic">Maithili Jadhav</h5>
              <p class="card-text">I've worked with Shriram on web design project,He is good Designer.</p>
            </div>
          </div>
      </div>
      <!-- /card -->
    </div>
  </div>
</section>
